@media (max-width: 480px) { 

.logo img { width:100%; float:left;}



}



@media (min-width: 481px) and (max-width: 768px) { 
.logo img {  float:left;}


  }

@media (min-width: 768px) and (max-width: 1024px) {
.logo img { float:left;}

}



