Allow from all
Options +FollowSymLinks

RewriteEngine On

RewriteCond %{HTTP_HOST} !^just-fastfood\.com$ [NC]
RewriteRule ^(.*)$ https://just-fastfood.com/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^menu-([a-zA-Z&0-9-]+)-([0-9]+)-([a-zA-Z0-9-]+)$ menu.php?category=$1&catID=$2&Postcode=$3
RewriteRule ^Postcode-([a-zA-Z0-9-]+)$ menu-explorer.php?postcode=$1
RewriteRule ^search-([a-zA-Z0-9-]+)$ search.php?q=$1
RewriteRule ^restaurant-([a-zA-Z&0-9-]+)-([a-zA-Z0-9-]+)-([0-9]+)-([a-zA-Z0-9-]+)$ restaurant.php?name=$1&cat=$2&id=$3&postcode=$4
Options -Indexes
ErrorDocument 404 /404.php

Options +Includes
AddHandler server-parsed .html
# AddHandler application/x-httpd-php .php
php_value auto_prepend_file /home/justfast/public_html/ga-1.php
php_value auto_append_file /home/justfast/public_html/ga.php

#### CACHING ####
# YEAR
#<FilesMatch "\.(flv|gif|jpg|jpeg|png|ico)$">
#   Header set Cache-Control "max-age=2592000"
#</FilesMatch>
# WEEK
<FilesMatch "\.(js|css|pdf|swf|flv|gif|jpg|jpeg|png|ico)$">
   Header set Cache-Control "max-age=604800"
</FilesMatch>
# 10 minutes
<FilesMatch "\.(html|htm|txt)$">
   Header set Cache-Control "max-age=600"
</FilesMatch>
# DONT CACHE
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
   Header unset Cache-Control
</FilesMatch>

Header set X-UA-Compatible "IE=Edge,chrome=1"